.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.zoom {
  padding: 80px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.25); 
}
.footer {
  background-color: #dbd1c5;
  color:#473b2e;
}
.book-shadow{
  box-shadow: 12px 5px;
  border-radius: 5px  
}
/* .container-slider {
  display: flex;
  padding: 0 55px;
}

.item {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
} */